

{% load staticfiles %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/cspapp.css' %}" />
</head>

<!DOCTYPE html>
<html lang="en">

<title>Project creation</title>

    <meta charset="UTF-8">
<header>
    <div> <img src="/static/css/images/Logo.jpg" align="left"> </div>
    <h1> Citizen Science Platform UDL</h1>
    <hr>
</header>

<body>


{% block content %}
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}
