<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{project.name}}</title>
    <h2>{{project.name}}

        {% if project.developers_id == request.user.id %}
            (<a href="{% url 'cspapp:project_edit' object.id %}">edit</a>)
            (<a class="marge" href="{% url 'delete_project' project.id %}" class="top-menu">Delete  <span class="glyphicon glyphicon-minus"></span></a>)
        {% endif %}
    </h2>

    {%	if	project.image	%}
        <p><img	src="{{project.image.url}}" width="300px"/></p>
    {%	endif	%}
    <li>
        <b>Description:</b> {{ object.description }}
      </li>
    <li>
        <b>Department:</b> {{ object.department }}
    </li>
    <li>
        <b>Developers:</b> {{ object.developers }}
    </li>
    <li>
        <b>Link:</b>
        <a href="{{object.website}}" target="_blank"  > {{object.link}} </a>
    </li>
</head>
<body>
<br>
<a href='/cspapp/projects/'> More projects </a>
<br>
      <a href='/'> Home </a>
</body>
</html>