
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cspapp.css' %}" />

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

    <head>
    <title>Pro. Details Base Citizen Science Platform UDL</title>
    </head>

<body>

<div id="header">
    <div> <img src="/static/css/images/Logo.jpg" align="left"> </div>
    <h1><a href="/">UDL Citizen Science Platform</a></h1>
</div>
    <br>
    <hr>

<nav>
<ul id="sidebar">
    <li><a id="greyfonts" href='/'> Home </a></li>
    <li><a id="greyfonts" href='/cspapp/projects/'> More projects </a></li>
    <li><a id="greyfonts" href="{% url 'cspapp:activity_create' object.id %}">Add Activities</a></li>
    <hr>
     <li id="greyfonts"> Activities: </li>


    {% for activity in object.projectactivity_set.all %}
        <li><a id="greyfonts" href="{% url "cspapp:activities_detail" activity.id%}"> {{activity.title}} </a></li>
    {% endfor %}

</ul>
</nav>

<div id="content">
    <title>{{project.name}}</title>
    <h2 id="stdnavy">{{project.name}}

        {% if project.developers_id == request.user.id %}
            (<a href="{% url 'cspapp:project_edit' object.id %}">edit</a>)
            (<a class="marge" href="{% url 'delete_project' project.id %}" class="top-menu">Delete  <span class="glyphicon glyphicon-minus"></span></a>)
        {% endif %}
    </h2>

    {%	if	project.image	%}
        <p><img	src="{{project.image.url}}" width="300px"/></p>
    {%	endif	%}
    <li id="stdnavy"> <b>Description:</b> {{ object.description }} </li>
    <li id="stdnavy"> <b>Department:</b> {{ object.department.name }} </li>
    <li id="stdnavy"> <b>Developers:</b> {{ object.developers }} </li>
    <li id="stdnavy"> <b>Link:</b> <a href="{{object.link}}" target="_blank"  > {{object.link}} </a> </li>



<h4 id="stdnavy">Add Comment</h4>
<form action="{% url 'cspapp:review_create' project.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}
    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label>
    <br/>{% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>

<h2 id="stdnavy">Comments</h2>

<table>
  <tr>
    <th>Writer</th>
    <th>&#9733;</th>
    <th>Comment</th>
    <th>Date</th>
  </tr>

    {% for review in object.projectreview_set.all %}

         <tr>
         <td style="width:100px">{{ review.user }}
         {% if user.username == "moderator" or review.user == user%}
             <a href="{% url 'delete_comment' review.id %}">Delete</a>
         {%  endif %}
         </td>
         <td style="width:50px"; align="center">{{ review.rating }}</td>
         <td style="width:400px">{{ review.comment }}</td>
         <td style="width:100px">{{ review.date }}</td>
        </tr>

    {% endfor %}

</table>

<p>&#169; PBA&Q Group</p>

</div>
</body>
</html>