
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cspapp.css' %}" />

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <title>Users_List Base Citizen Science Platform UDL</title>

    <script
 	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js">
 	</script>

 	<link rel="stylesheet"
 	href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  	<script
  	src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <style>

	  .divisor{

	      display: table;
          margin: 0 auto;
          margin-top: 50px;
	  }

	</style>

</head>

<body>

<div id="header">
    <div> <img src="/static/css/images/Logo.jpg" align="left"> </div>
    <h1><a href="/">UDL Citizen Science Platform</a></h1>
</div>
    <br>
    <hr>

<nav>
<ul id="sidebar">
    <li><a id="greyfonts" href='/'> Home </a></li>
    {% block header %}
        {% if user.username %}
            <li id="greyfonts"> Logged as: <b>{{ user.username }} </b></li>
            <li><a id="greyfonts" href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
        {% else %}
            <li><a id="greyfonts" href="{% url 'login' %}?next={{request.path}}">Login</a></li>
            <li><a id="greyfonts" href="{% url 'register' %}"  class="top-menu">Sign up<span class="glyphicon glyphicon-plus"></span></a></li>
        {% endif %}
    {% endblock %}

    <li><a id="greyfonts" href="http://127.0.0.1:8000/admin">Admin</a></li>
</ul>
</nav>


<script>

        $(function(){
            var genre = [
                "admin",
                "user1",
                "user2",
                "moderator",
                "troll_student_XD",
                "qwer",
                "josep555",

            ];
            $( "#groups_auto" ).autocomplete({
                source: genre
            });

        });


    </script>
<div id="content">

                <h2 id="stdnavy">Users search</h2>
                <input id="groups_auto">
                <button onclick="myFunction(groups_auto.value)">Search</button>



    <script>
    function myFunction(USERNAME) {

            window.location="http://127.0.0.1:8000/profile/"+USERNAME;


    }
    </script>





    <<h2 id="stdnavy">Users List:</h2>
<ul id="projectlist">
         {% for user in users %}


<li><a id="list" href="{% url 'profile'  user.id  %}"> {{ user.username }} </a></li>

          {% endfor %}

</ul>
</div>


</body>
</html>