<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ activity.title }}</title>
</head>
<body>
    <h1>{{ activity.title }}
        {%  if user == activity.user  %}
            (<a href="{% url 'cspapp:activity_edit' object.id %}">edit</a>)
            (<a class="marge" href="{% url 'delete_activity' object.id %}" class="top-menu">Delete  <span class="glyphicon glyphicon-minus"></span></a>)
        {% endif %}
    </h1>
    <h3>{{ activity.description }}</h3>
    <p>{{ activity.statement }}</p>
    <form action="{% url 'cspapp:answer_create' activity.id %}" method="post">
    {% csrf_token %}
    Answer: <textarea name="comment" id="comment" rows="8" cols="50"></textarea>

    </p>
    <input type="submit" value="Answer" />

    <p>Author: {{ activity.user }}</p>

</form>


        {% for answer in object.activityanswer_set.all %}
            {%  if user.id == answer.user_id or user == activity.user  %}
                <li>
                    <p>--------------------------------------------------------</p>
                    <p><b>{{ answer.user }}:</b>
                    {% if user == answer.user %}
                        <a href="{% url 'delete_answer' answer.id %}">Delete</a>
                    {%  endif %}
                    </p>
                    <p style="text-indent: 2em"><b> Answer: </b>{{ answer.body }}</p>
                    <p>Created by {{ answer.user }} on {{ answer.date }}</p>
                    <p>--------------------------------------------------------</p>
                    <br>
                </li>
            {% endif %}
        {% endfor %}



    <a href="{% url "cspapp:projects_detail" activity.project%}"> Back to {{ activity.project.name }} </a>
    <br>
    <a href='/cspapp/projects/'> More projects </a>
    <br>
    <a href='/'> Home </a>
</body>
</html>