<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
</head>
<body>
    <h1>Activities
    (<a href="{% url 'cspapp:project_create' %}">add</a>)
    </h1>
    {% if activities %}
        <ul>
        {% for activity in activities %}
        <li>
            <h4>
            <a href="{% url "cspapp:activities_detail" activity.id%}"> {{activity.title}}</a>
            by {{ activity.user }} </h4>
            <h4>{{ activity.description }}</h4>

            <br>
        {% endfor %}
        </ul>
        {%  else %}
            <h3>No hi ha activitats encara</h3>
    {% endif %}


</body>
</html>