<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ activity.title }}</title>
</head>
<body>
    <h1>{{ activity.title }}</h1>
    <p>{{ activity.statement }}</p>
    <form action="{% url 'cspapp:answer_create' activity.id %}" method="post">
    {% csrf_token %}
    Answer: <textarea name="comment" id="comment" rows="8" cols="50"></textarea>

    </p>
    <input type="submit" value="Answer" />

    <p>Author: {{ activity.user }}</p>

</form>

    {%  if user == activity.user %}
        {% for answer in object.activityanswer_set.all %}
            <li>
                <p>--------------------------------------------------------</p>
                <p><b>{{ answer.user }}:</b>
                {% if user == answer.user %}

                {%  endif %}
                </p>
                <p style="text-indent: 2em"><b> Answer: </b>{{ answer.body }}</p>
                <p>Created by {{ answer.user }} on {{ answer.date }}</p>
                <p>--------------------------------------------------------</p>
                <br>
            </li>
        {% endfor %}
    {% endif %}


</body>
</html>