

     h1 {
         color: navy;
         font-size: 3em;
         padding-top: 80px;
         padding-left: 500px;
         padding-bottom: 90px;}

    body {
    background:url("images/PBA&Q_Group_wall_paper_02.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:100% 100%;
    }

