
 h1 {
     color: navy;
     font-size: 3em;
     border-style: hidden;
     padding-top: 0px;
     padding-right: 30px;
     padding-bottom: 10px;
     padding-left: 200px;
 }

 body {
       background:url("images/PBA&Q_Group_wall_paper_03.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size:100% 100%;
      margin: 0px;
      padding: 100px 0px 0px 0px;
      overflow: hidden; /* overflow: hidden prevents full scrollbar in IE */
 }

 div#header {
            /* you must include "div" for IE */
             position: fixed;
             top:0px;
             left: 0px;
             width: 100%;
             height: 120px;
             overflow: hidden;
 }

 div.transbox {
              padding: 10px 10px 10px 10px;
              background-color: #ffffff;
              border: 1px solid black;
              width: 95%;
              opacity: 0.6;
              filter: alpha(opacity=60); /* For IE8 and earlier */
 }


 #content {

          left:10px;
          height: 95%;
          width: 85%;
          float:right;
          overflow: auto;
 }

 div {
     width: 10px;
     border: hidden;
     margin: 0;
 }

 nav {
     line-height:30px;
    /*   background-color:#01DFD7; */
     height:180px;
     width:15%;
     float:left;
    /*  padding:0px; */
 }

 section {
        width:350px;
        float:left;
        padding:10px;
 }

 #sidebar {
        list-style-type: none;
        margin: 0;
        padding: 0px;
        width: 12%;
        background-color: #0489B1;
         /* border: 1px solid #555; */
        height: 100%; /* Full height */
        position: fixed; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
 }

 #projectlist  {
                list-style-type: none;
                margin: 0;
                padding: 0px;
                width: 200px;
                background-color: #F1F1F1;
                /* border: 1px solid #555; */
                 /* height: 100%; /* Full height */
                position: fixed; /* Make it stick, even on scroll */
                overflow: auto; /* Enable scrolling if the sidenav has too much content */
 }

 #greyfonts {
            display: block;
            color: #BDBDBD;
             /* text-align: center;
              border-bottom: 1px solid #555;/* */
             padding: 0px 0 0px 10px;
             text-decoration: none;
 }

  #stdnavy {
            display: block;
            color: navy;
             /* text-align: center;
              border-bottom: 1px solid #555;/* */
             padding: 0px 0 0px 0px;
             text-decoration: none;
 }

 li a {
      display: block;
     color: #000000;
     /* text-align: center;
      border-bottom: 1px solid #555; */
      padding: 8px 0 8px 16px;
      text-decoration: none;
 }

        /* Change the link color on hover */
 li a:hover {
             background-color: #555;
             color: white;
 }

 li a#greyfonts {
                display: block;
                color: #BDBDBD;
                /* text-align: center;
                 border-bottom: 1px solid #555;/* */
                padding: 8px 0 8px 16px;
                text-decoration: none;
 }

        /* Change the link color on hover */
 li a#greyfonts:hover {
                        background-color: #555;
                        color: white;
 }

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    /* width: 100%; */
}

th {
    height: 30px;
}


