

     h1 {
         color: navy;
         font-size: 3em;
         border-style: hidden;
         padding-top: 20px;
         padding-right: 30px;
         padding-bottom: 10px;
         padding-left: 200px;

     }

    body {
    background:url("images/PBA&Q_Group_wall_paper_03.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:100% 100%;
    }

    div {
        width: 10px;
        border: hidden;
        margin: 0;
    }

    aside {
            line-height:30px;
            background-color:#01DFD7;
            height:180px;
            width:100px;
            float:right;
            padding:5px;
    }

