
{% load staticfiles %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/cspapp.css' %}" />
</head>

<!DOCTYPE html>
<html lang="en">
<body>

    <meta charset="UTF-8">
<header>
    <div> <img src="/static/css/images/Logo.jpg" align="left"> </div>
    <h1> Citizen Science Platform UDL</h1>
    <hr>
</header>

<h2> User register </h2>

   <form action="" method="post">
      {{ form.as_p }}

      <input type="submit" value="Create the account">

        {% csrf_token %}
    </form>