
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cspapp.css' %}" />

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

    <head>
    <title>Register Base Citizen Science Platform</title>
    </head>

<body>

<div id="header">
    <div> <img src="/static/css/images/Logo.jpg" align="left"> </div>
    <h1>UDL Citizen Science Platform</h1>
</div>
    <br>
    <hr>

<nav>
<ul id="sidebar">
    <li><a id="greyfonts" href='/'> Home </a></li>
</ul>
</nav>

<div id="content">
<h2 id="stdnavy"> User register </h2>

   <form action="" method="post">
      {{ form.as_p }}

      <input type="submit" value="Create the account">

        {% csrf_token %}
    </form>
</div>